@model Sport_Shop.Areas.Admin.Models.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/Admin/Layout.cshtml";
    <link rel="stylesheet" href="~/css/Admin/profile.css">
    <style>
        #form-create {
            position: relative;
            width: 40%;
            background-color: #fff;
            box-shadow: 0px 10px 10px #ccc;
            margin-left: 30%;
        }

            #form-create form {
                padding: 15px;
            }
    </style>
}

<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm" name="" id="">
            </div>
        </div>
        <div class="profile">
            <i class="fa fa-bell"></i>
            <li>
                @if (Context.Session.GetString("UrlIamge") == null || Context.Session.GetString("UrlIamge").Equals(""))
                {
                    <a href=""><img src="https://res.cloudinary.com/dgtjdhrnq/image/upload/v1678894055/download_g8pszb.png" alt=""></a>
                }
                else
                {
                    <a href=""><img src="@Context.Session.GetString("UrlIamge")" alt=""></a>
                }
                <ul class="profile_ul">
                    <li><a asp-action="Profile" asp-controller="Admin">Hồ sơ</a></li>
                    <li><a asp-action="DoiMatKhau" asp-controller="Admin">Đổi mật khẩu</a></li>
                    <li><a asp-action="Index" asp-controller="Login">Đăng xuất</a></li>
                </ul>
            </li>
        </div>
    </div>
    @Html.Raw(TempData["Message"])
    <h3 style="text-align:center;margin-top:10px">Sửa Loại Sản Phẩm</h3>
    <div id="form-create">
        <form method="post" asp-action="EditCategory" asp-controller="Admin">
            <div class="form-group">
                <label for="exampleInputEmail1">Loại sản phẩm</label>
                <input type="hidden" asp-for="CategoryId" />
                <input type="text" class="form-control" asp-for="TenDanhMuc" placeholder="Nhập tên loại sản phẩm">
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</section>

