
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/assets/css/Editpassword_user.css">
    <style>
        #toast-container {
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 40%;
        }

        .toast {
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            font-size: 14px;
            line-height: 1.4;
            margin: 10px;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s, transform 0.3s;
        }

            .toast.toast-error {
                background-color: #e74c3c;
            }

            .toast.show {
                opacity: 1;
                transform: translateY(0);
            }
    </style>
}

<div class="app_container">
    <div id="account_user_container">
        <div class="account_user">
            <div class="account_user_left">
                <div class="header_accountuser">
                    <div class="img">
                        @if (Context.Session.GetString("imageUrl") != "")
                        {
                            <img src="@Context.Session.GetString("imageUrl")" alt="">
                        }
                        else
                        {
                            <img src="https://res.cloudinary.com/dbnr304ms/image/upload/v1681582357/download_jxyp8d.jpg" alt="">
                        }
                    </div>
                    <div class="accountname">
                        <p>@Context.Session.GetString("Username")</p>
                    </div>
                </div>
                <ul class="menu_accountuser">
                    <p><i class="fas fa-user"></i>Tài khoản của tôi</p>
                    <li><a asp-action="EditProfile" asp-controller="Web_Store">Hồ sơ</a></li>
                    <li><a asp-action="EditPassword" asp-controller="Web_Store">Đổi mật khẩu</a></li>
                </ul>
            </div>
            <div class="account_user_right">
                <div class="edit_password">
                    <div class="edit_password_header">
                        <h3>Đổi mật khẩu</h3>
                        <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
                    </div>
                    <div class="edit_password_content">
                        <div class="table">
                            <form id="myform">
                                <table>
                                    <tr>
                                        <td><p>Mật khẩu hiện tại</p></td>
                                        <td style="width: 300px;">
                                            <div class="input">
                                                <input type="password" name="MatKhauHienTai" id="MatKhauHienTai">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p>Mật khẩu mới</p></td>
                                        <td style="width: 300px;">
                                            <div class="input">
                                                <input type="password" name="MatKhauMoi" id="MatKhauMoi">
                                            </div>
                                            <p class="erro" id="message_matkhaumoi"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p>Xác nhận mật khẩu</p></td>
                                        <td style="width: 300px;">
                                            <div class="input">
                                                <input type="password" name="ConfirmMatKhau" id="ConfirmMatKhau">
                                            </div>
                                            <p class="erro" id="message_cfmatkhau"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button id="btn_submit" type="submit">Xác nhận</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="toast-container">
    <div class="toast toast-error">
        <div class="toast-message"></div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var MatKhaiMoi = document.getElementById("MatKhauMoi");
    var Message_MatKhaiMoi = document.getElementById("message_matkhaumoi");
    var ConfirmMatKhau = document.getElementById("ConfirmMatKhau");
    var Message_ConfirmMatKhau = document.getElementById("message_cfmatkhau");
    MatKhaiMoi.addEventListener("keyup", function () {
        if (ConfirmMatKhau.value != "") {
            if (MatKhaiMoi.value != ConfirmMatKhau.value) {
                Message_MatKhaiMoi.innerText = 'Mật khẩu và mật khẩu xác nhận không giống nhau';
            }
            else
            {
                Message_MatKhaiMoi.innerText = '';
            }
        }
    });

    ConfirmMatKhau.addEventListener("keyup", function () {
        if (MatKhaiMoi.value != "") {
            if (MatKhaiMoi.value != ConfirmMatKhau.value) {
                Message_ConfirmMatKhau.innerText = 'Mật khẩu và mật khẩu xác nhận không giống nhau';
                document.getElementById("submit").style.cursor= "not - allowe";
            }
            else
            {
                Message_ConfirmMatKhau.innerText = '';
            }
        }
    });


    $(document).ready(function () {
        $("#myform").submit(function (event) {
            if (document.getElementById("MatKhauMoi").value == "" || document.getElementById("MatKhauHienTai").value == "" || document.getElementById("ConfirmMatKhau").value == "")
            {
                event.preventDefault(); // Ngăn chặn form được gửi đi
                const message = document.querySelector('.toast-message');
                message.innerHTML = 'Vui lòng nhập đầy đủ thông tin';
                const toast = document.querySelector('.toast');
                toast.style.background = '#e74c3c';
                toast.classList.add('show');
                setTimeout(() => {
                    toast.classList.remove('show');
                }, 3000);
                return;
            }
            event.preventDefault(); // Ngăn chặn form được gửi đi
            var form = $(this);
            var formData = new FormData(form[0]); // Lấy dữ liệu form
            $.ajax({
                type: "POST",
                url: "/Customer/Web_Store/EditPasswordUser",
                data: formData,
                processData: false, // Không xử lý dữ liệu truyền vào
                contentType: false, // Không thiết lập kiểu dữ liệu cho dữ liệu truyền vào
                success: function (result) {
                    if (result.success) {
                        const message = document.querySelector('.toast-message');
                        message.innerHTML = result.message;
                        const toast = document.querySelector('.toast');
                        toast.classList.add('show');
                        toast.style.background = '#4CAF50';
                        setTimeout(() => {
                            toast.classList.remove('show');
                        }, 3000);
                        document.getElementsByName("MatKhauHienTai")[0].value = "";
                        document.getElementsByName("MatKhauMoi")[0].value = "";
                        document.getElementsByName("ConfirmMatKhau")[0].value = "";
                    }
                    else {
                        const message = document.querySelector('.toast-message');
                        message.innerHTML = result.message;
                        const toast = document.querySelector('.toast');
                        toast.style.background = '#e74c3c';
                        toast.classList.add('show');
                        setTimeout(() => {
                            toast.classList.remove('show');
                        }, 3000);
                    }
                }
            });
        });
    });
</script>

