#account_user_container {
    background-color: #eee;
}

    #account_user_container .account_user {
        padding: 20px 0px 20px 20px;
        display: flex;
    }

    #account_user_container .account_user_left {
        width: 13%;
    }

        #account_user_container .account_user_left .header_accountuser {
            display: flex;
            margin-top: 31px;
            align-items: center;
            border-bottom: 1px solid rgb(170, 166, 166);
        }

.header_accountuser img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header_accountuser .accountname {
    padding-left: 10px;
    font-size: 12px;
}

.menu_accountuser {
    font-size: 14px;
    padding: 10px;
}

    .menu_accountuser p i {
        color: rgb(109, 153, 235);
        font-size: 20px;
        margin-right: 5px;
    }

    .menu_accountuser li {
        list-style: none;
        padding: 5px 0px 10px 30px;
    }

        .menu_accountuser li a {
            text-decoration: none;
            color: rgba(0,0,0,.65);
        }

            .menu_accountuser li a:hover {
                color: orange;
            }

#account_user_container .account_user_right {
    background: #fff;
    width: 72%;
    margin-left: 8%;
    border-radius: 2px;
}

    #account_user_container .account_user_right .edit_password {
        margin: 2%;
    }

.edit_password .edit_password_header {
    border-bottom: 1px solid rgb(170, 166, 166);
}

    .edit_password .edit_password_header h3 {
        font-size: 20px;
    }

    .edit_password .edit_password_header p {
        font-size: 14px;
        color: rgb(105, 107, 109);
        margin-top: 10px;
    }

.edit_password_content {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .edit_password_content table tr td p {
        font-size: 16px;
        color: #757575;
    }

    .edit_password_content table tr td input {
        border: none;
    }

    .edit_password_content table tr td .input {
        border: 1px solid #ccc;
        height: 30px;
        display: flex;
        align-items: center;
        margin-left: 20px;
        height: 40px;
    }

        .edit_password_content table tr td .input input {
            width: 100%;
            font-size: 16px;
            margin-left:5px;
        }

            .edit_password_content table tr td .input input:focus {
                border: none;
                outline: none;
                margin-left: 2%;
            }

    .edit_password_content table tr td button {
        margin-left: 6.8%;
        background: #ee4d2d;
        /* cursor: not-allowed; */
        box-shadow: none;
        border: none;
        color: #fff;
        width: 80px;
        height: 40px;
        font-size: 14px;
        border-radius: 2px;
        cursor: pointer;
    }
    .edit_password_content table tr td .erro {
        color: red;
        margin-left: 20px;
    }
